.movies-lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.movies-single-item {
  position: relative;

  p {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
.movies-single-item img {
  width: 100%;
}

@media screen and (min-width: 550px) {
  .movies-lista {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .movies-lista {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .movies-lista {
    grid-template-columns: repeat(5, 1fr);
  }
}
